:root {
    --background-primary: #191e2b;
    --backgroun-secondary: #30343f;
    --backgroun-tertiary: #2c2f35;
    --font-color-primary: white;
    --background-color-range-primary: white;
    --background-color-range-secondary:#77797e;
    --button-color-hover: #51545c;
    --input-color-hover: #51545c;
}
[data-theme="ligth-theme"] {
    --background-primary: #aaa9a9;
    --backgroun-secondary: #f8f8fc;
    --backgroun-tertiary: #e4e4f5;
    --font-color-primary: black;
    --background-color-range-primary: #191e2b;
    --background-color-range-secondary:#30343f;
    --button-color-hover: #868992;
    --input-color-hover: #868992;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------- */

.bor-no{
    border: none;
}
.ls-no{
    list-style: none;
}
.fw-800{
    font-weight: 800;
}
.ml-10{
    margin-left: 10px;
}
input{
    background-color: var(--backgroun-secondary);
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: var(--font-color-primary);   
}
input:hover{
    background-color: var(--input-color-hover);
}
select{
    background: none;
    background-color: var(--backgroun-secondary);
    color: var(--font-color-primary);
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
.hidden{
    display: none;
}
.p-abs{
    position: absolute;
}
.h-btn{
    background: none;
    border: none;
    color: var(--font-color-primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.h-btn:hover{
    background-color: var(--button-color-hover);
    border-radius: 5px;
    transition: o.5ms;
}

/* --------------------------------------------------- */

body{
    background-color: var(--backgroun-secondary);
    height: 100vh;
    overflow: hidden;   
}

/* ------------------------HEADER------------------------------- */


header{
    background-color: var(--background-primary);
    text-align: center;
}
.main-title{
    text-align: center;
    color: var(--font-color-primary);
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.navbar__list{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.navbar__element button{
    padding: 15px;
    cursor: pointer;
    color: var(--font-color-primary);
}

    
/* -------------------------MAIN--------------------------- */

main{
    display: flex;
    justify-content: center;
    flex-direction: column;       
}
.meme-container{
    display: flex;
    justify-content: center;
}
.meme{    
    height: 55vh;
    width: 70vw;
    max-width: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}
.meme__tex__top-cont, .meme__tex__bottom-cont{
    height: 10vh;
    width: 100%;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 17px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}
.meme__img{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* -----background-transparent classes----- */

.top-text-transparent{
    background: transparent;
    position: absolute;
    z-index: 99;
    top: 0;
}
.bottom-text-transparent{
    background: transparent;
    position: absolute;
    z-index: 100;
    bottom: 0;
}
.download-btn{
    display: block;
    margin: 50px auto;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(7, 146, 7);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
}
.download-btn:hover{
    background-color: rgb(55, 236, 55);
}
.download-btn:active {
    transform: scale(0.98);
    background-color: rgb(3, 44, 3);
}

/* --------------------FOOTER-------------------- */
footer{
    background-color: var(--background-primary);
    width: 100vw;
    margin-top: 25px;  
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    list-style: none;
}
footer ul li i{
    color: var(--font-color-primary);
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
} 
.signature{
    text-align: center;
    color: var(--font-color-primary);
    font-size: 0.8rem;
}
/* ----------SETTINGS---------- */

.settings{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font-color-primary);
    background-color: var(--backgroun-tertiary);
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100vw;    
    height: 100vh;
    z-index: 1000;
}
.btn-close{
    background: none;
    border: none;
    color: var(--font-color-primary);
    position: fixed;
    top: 10px;
    right: 10px;
}
.settings__title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font-color-primary);
    text-align: center;
    padding: 30px 0;
}
/* ---------------------IMAGE SETTINGS----------------------------- */

/* ----URL---- */

.url-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

/* ----BACKGROUND---- */

.back-setting{
    margin: 10px;
   padding: 20px 0 20px 0;
}
.back-setting__list{
    padding: 0px 0 10px 0;
    display: flex;
    justify-content: space-between;
}
.back-setting__color{
    width: 48%;
    background-color: var(--backgroun-secondary);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 5px;
}
input[type="color"] {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
 input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.back-setting__select{
    background-color: var(--backgroun-secondary);
    width: 48%;
    border-radius: 3px;    
}


/* ----FILTERS---- */


.filter-container{
    width: 100%;
}
.filters-container__title{
    margin: 20px 0 0 10px;
}
.filters-container__list li{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px 0;
}
.filters-container__list li label{
    margin-left: 10px;
}
input[type='range'] {
    display: block;
    width:100%;
    background: none;
    cursor: pointer;
}
input[type='range']:focus {
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]::-webkit-slider-thumb {
    background-color: var(--background-color-range-primary);
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    margin-top: -5px;
}
input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
}
input[type=range]::-webkit-slider-runnable-track {
    background-color:var(--background-color-range-secondary);
    height: 7px;
    border-radius: 5px;
}
  
/* ------------------- RESET BUTTON------------------- */

.reset-btn{
    margin: 40px 0 20px 10px;
    padding: 10px;
    background-color: var(--backgroun-secondary);
    color: var(--font-color-primary);
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.reset-btn:hover{
    background-color: var(--button-color-hover);
}
/* ---------------------------- TEXT SETTINGS ---------------------------- */

.setting__text{
    padding: 10px 0;
}
.setting__text ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;  
}
.meme-text{
    width: 100%;
}
.font__container{
   padding-right: 10px;
}
.font__select{
    background: none;
    background-color: var(--backgroun-secondary);
    color: var(--font-color-primary);
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
.font__sizeAling{
    display: flex;
}
.font__aling{
    display: flex; 
    margin-left: 3px;      
}
.font__aling li{
    width: 15vw;
    text-align: center;
    padding-top: 6px;
    margin: 0 3px;
    border-radius: 5px;
    background-color: var(--backgroun-secondary);
}
.font__aling li:hover{
    background-color: var(--button-color-hover);
}
.font__aling i{
    color: var(--font-color-primary);  
    background: var(--backgroun-secondary); 
    font-size: 1rem; 
}

/* ---------- COLOR & BACKGROUND ------------ */

.text-color__container{
    margin: 30px 10px;
}
.text__color-back{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.text_color section{
    width: 45vw;
    background-color: var(--backgroun-secondary);
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}

/* ----------- OUTLINE ------------ */

.outline__btns button{
    background-color: var(--backgroun-secondary);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color-primary);    
}
.outline__btns button:hover{
    background-color: var(--button-color-hover);
}

/* -----Outline-btns-classes-----*/

.stroke-light {   
    -webkit-text-stroke: 2px #eeeeee;
    }
.stroke-dark{
    -webkit-text-stroke: 2px black;
}

/* ------------ SPACING ----------- */

.spacing{
   margin: 20px 10px;
}
.spacing input{
    margin-top: 10px;
    width: 100%;
}

/* -------------LINE-HEIGHT------------- */
.line-height__cont{
    margin: 0 10px;
}

/* --------------MEDIA QUERY---------------- */


@media (min-width: 700px){
    
    .meme-container{
        display: flex;
        justify-content: center;
    }
    .meme{
        max-width: 600px;
        height: 600px;
    }
    .meme__tex__top-cont, .meme__tex__bottom-cont{
        height: 15%;
    }
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #4f5052;
        border-radius: 5px;
    }
    .settings{
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }
    .btn-close{
        display: none;
    }
    .font__select{
        width: 220px;
    }
    .font__sizeAling input{
        max-width: 100px;
    }
    .font__sizeAling ul{
        max-width: 120px;
    }
    .text_color section{
        max-width: 110px;
    }
    .outline__btns button {
        width: 30%;
        padding-left: 10px;   
    }
}


